__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
# dist/  <-- commenting out so dist can be added if needed, or I'll just leave it.
# .env   <-- removed from ignore
# *.spec <-- removed from ignore
AttendanceSheet.xlsx
